nav{
	width: 100%;
	height: 40px;
	background-color: #e13931;
}
.first{
    width: 60px;
    text-align: left;
}
nav li{
	width: 110px;
	float: left;
	color: #fff;
	margin-top: 7.5px;
	font-size: 16px;
	background: url(../images/fenge.png) no-repeat right;
	text-align: center;
}
.container{
	width: 1000px;
	height: 250px;
	margin: 10px auto;
}
/*轮播样式*/
.slideBox{ 
	float: left;
	width:300px;
    height:250px;
    overflow:hidden; 
    position:relative; 
    border:1px solid #ddd;  
}
.slideBox .hd{
    height:15px;
    overflow:hidden; 
    position:absolute; 
    right:5px; 
    bottom:5px; 
    z-index:1; 
}
.slideBox .hd ul{
    overflow:hidden;
    zoom:1; 
    float:left;
}
.slideBox .hd ul li
{ 
    float:left; 
    margin-right:2px;  
    width:15px; 
    height:15px; 
    line-height:14px; 
    text-align:center; 
    background:#fff; 
    cursor:pointer; 
}
.slideBox .hd ul li.on
{ 
    background:#f00; 
    color:#fff; 
}
.slideBox .bd
{ 
    position:relative; 
    height:100%; 
    z-index:0;   
}
.slideBox .bd li
{ 
    zoom:1; 
    vertical-align:middle; 
}
.slideBox .bd img
{ 
    width:300px; 
    height:250px; 
    display:block;  
}
/*轮播右侧样式*/
.slideTxtBox{ 
    width:450px;
    height: 250px; 
    /*border:1px solid #ddd; */
    text-align:left;float: left;
    margin-left: 10px;  
}
.slideTxtBox .hd
{ 
    height:30px; 
    line-height:30px;
    background:#e5e5e5; 
    padding:0 10px 0 20px;   
    border-bottom:1px solid #ddd; 
    position:relative; 
}
.slideTxtBox .hd ul
{ 
	float:left;  
	position:absolute; 
	left:-1px; top:-1px; 
	height:32px;   
}
.slideTxtBox .hd ul li
{ 
	float:left; 
	padding:0 15px; 
	cursor:pointer;   
}
.slideTxtBox .hd ul li.on
{ 
	height:30px;  
	background:#fff; 
	border:1px solid #ddd;
	 border-bottom:2px solid #fff;
	 color: #d22722; 
}
.slideTxtBox .bd ul
{
	height: 190px; 
	padding:15px;  
	zoom:1; 
	overflow: hidden;  
}
.slideTxtBox .bd li
{ 
	height:24px; 
	line-height:10px;
	list-style:square;   
}
.slideTxtBox .bd li .date
{ 
	float:right; 
	color:#999;  
}

/* 下面是前/后按钮代码，如果不需要删除即可 */

/*手风琴样式*/
.gy-head p{
	height: 30px;
	width: 230px;
	border-bottom: 2px solid #d23833;
    font: normal 14px/32px "Microsoft YaHei";
}

.fenge
{
    height: 15px;
    margin-bottom: 5px;
}
.gy-head span
{
	padding-left: 5px;
	color: #d23833;
	font-size: 15px;
	font-weight: bold;
}

.more{
	float: right;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 15px;
}
a:hover {color: #d8605d;} 
.sideMenu{ width: 230px;float: right;height: 250px; }
.sideMenu h3{ height:30px; line-height:32px; padding-left:10px; color: #fff;  border-top:1px solid #e3e3e3; background:#d23833; cursor:pointer;
			font:normal 14px/32px "Microsoft YaHei";
		}
.sideMenu h3 em{ float:right; display:block; width:40px; height:32px;  cursor:pointer; }
.sideMenu h3.on em{ background-position:16px -57px; }
.sideMenu ul{ padding:2px 25px; color:#999; display:none; /* 默认都隐藏 */ }


/*第二层主题样式*/
.container-two
{
	clear: both;
	width: 1000px;
	height: 220px;
	margin: 20px auto 0 auto;
	font:normal 12px/20px "Microsoft YaHei";
}
.title
{
	width: 320px;
	height: 20px;
	border-bottom: 2px solid #d23833;
}
.wenzi
{
	padding-left: 10px;
	color: #d23833;
	font-size: 15px;
	font-weight: bold;
	line-height: 15px;
}
.ask
{
	height: 220px;
	width: 320px;
	padding: 10px 10px;
	list-style: square;
}

.onleft
{
	float: left;

}
.onleft img
{
	width: 5px;
	margin-bottom: 5px;
}
.onright
{
	float: right;
	margin-top: 6px;
	margin-right: 10px;
}
.ask-onright
{
	float: right;
	padding-right: 10px;
}
.ask-content
{
	float: left;
	width: 333px;
	height: 230px;

}
.ask-donate
{
	height: 220px;
	width: 320px;
    padding: 30px 10px;
	list-style:square;

}
.outline
{
	clear: both;
	width: 100%;
	height: 40px;
	background-color: #f5f5f5;
}

/*第三层样式*/
.container-three{
	width: 1000px;
	height: 400px;
	margin: 20px auto;
}
.thrid-left{
	height: 400px;
	width: 660px;
	float: left;
}
.three-left{
	height: 25px;
	width: 660px;
	border-bottom: 2px solid #d23833;
	
}
.left-title{
	width: 80px;
	height: 25px;
	color: #fff;
	background-color: #d22722;
	text-align: center;
	line-height: 25px;
	font-weight: bold;
	
}
.title-img{
	vertical-align:middle;
    float: right;
    margin-top: -15px;
    margin-right: 10px;
}
.love img{
	width: 320px;
	height: 200px;
	float: left;
	margin-top: 20px;
}
.h2 , .h3 , .h4{
	margin-left: 20px;
}
.loveoutline{
	clear: both;
	height: 130px;
	margin-top: 240px;
	background-color: #d1d1d1;
}
.thrid-right{
	float: right;
	width: 320px;
	height: 400px;
}
.right-title{
	height: 25px;
	border-bottom: 2px solid #d23833;
}
.payway{
	margin-top: 10px;
	height: 180px;
}
.payway li{
	float: left;
}
.img-2 , .img-4 , .img-6{
	margin-left: 10px;
}
.img-3,.img-4,.img-5,.img-6{
	margin-top: 10px;
}
.rightdown-title{
	clear: both;
	height: 25px;
	margin-top: 3px;
	border-bottom: 2px solid #d23833;
}
.contact-right{
	float: right;
}
.contact-left{
	float: left;
}
.rightdown-title li{
	height: 20px;
	line-height: 20px;
	font-size: 12px;
	color: #5f5f5f;
}

/*脚步样式*/
.foot-container{
	clear: both;
	width: 1000px;
	height: 355px;
	margin: 20px auto;
	

}
.foot-title{
	border-bottom: 2px solid #d23833;
	height: 

}
.foot-wenzi{
	width: 80px;
	height: 25px;
	color: #d23833;
	text-align: center;
	line-height: 25px;
	font-weight: bold;
	background: url(../images/foot-img.png) no-repeat left;
    font-size: 15px;
    padding-left: 8px;
}
.partner{
	height: 100px;
	background: url(../images/footer.png);
	margin-top: 10px;

}
.select-box select{
	width: 188px;
	margin-top: 20px;
}
.sel-2,.sel-3,.sel-4,.sel-5{
	margin-left: 8.5px;
}


.about{
	padding-top: 20px;
	text-align: center;
	color: #c5c5c5;
}
.footer-contact{
	text-align: center;
}
/*用户建议后修改*/
.hd li{
	font-size: 15px;
}